DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_NAME=notes_db
DB_PASS=postgres
TELEGRAM_TOKEN=YOUR_BOT_TELEGRAMM_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest